nav ul li a{
  color: black;
}

body{
  background: rgba(245,231,204,1);
  background: -moz-linear-gradient(left, rgba(245,231,204,1) 0%, rgba(255,255,255,1) 32%, rgba(252,245,232,1) 64%, rgba(245,231,204,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,231,204,1)), color-stop(32%, rgba(255,255,255,1)), color-stop(64%, rgba(252,245,232,1)), color-stop(100%, rgba(245,231,204,1)));
  background: -webkit-linear-gradient(left, rgba(245,231,204,1) 0%, rgba(255,255,255,1) 32%, rgba(252,245,232,1) 64%, rgba(245,231,204,1) 100%);
  background: -o-linear-gradient(left, rgba(245,231,204,1) 0%, rgba(255,255,255,1) 32%, rgba(252,245,232,1) 64%, rgba(245,231,204,1) 100%);
  background: -ms-linear-gradient(left, rgba(245,231,204,1) 0%, rgba(255,255,255,1) 32%, rgba(252,245,232,1) 64%, rgba(245,231,204,1) 100%);
  background: linear-gradient(to right, rgba(245,231,204,1) 0%, rgba(255,255,255,1) 32%, rgba(252,245,232,1) 64%, rgba(245,231,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5e7cc', endColorstr='#f5e7cc', GradientType=1 );
}

.vjs-big-play-button::before {
  top: 0%;
  color: white;
}

.btn {
  color:black;
}

.Caption
{
    font-size: .9em;
    font-style: italic;
    margin: 0;
    padding: 4px;
}
.BarTable
{
    text-align: center;
    border: solid 3px #000000;
    padding: 0px;
    margin: 0px 4em 0px 4em;
    width: 80%;
}
.BarTableVertical
{
    width: 100%;
    padding: 0px;
    margin-left: 0px;
}
.BarTable tr, .BarTableVertical tr
{
    width:100%;
    text-align: center;
    border: solid 3px #000000;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    background-color: #00CC66;
}
.BarTableVertical tr td
{
    width:100%;
    margin-left: -50px;
    text-align: center;
    border: solid 3px #000000;
    background-color: snow;
}
.BarTable tr p, .BarTableVertical tr p
{
    text-align: center;
    position: relative;
    display: inline;
    font-size: .8em;
    padding: 0px;
    margin: 0px;
    z-index: +1;
}

.BarFull
{
    background-image: url(gridline58.gif);
    background-repeat: repeat-x;
    background-position: left top;
    width: 100%;
    background-color: #CCFFFF;
}
.BarFull p
{
    margin: 0px 4px 4px 4px;
    background-color: #FFFF99;
    color: #000000;
}
.BarVertical
{
    height: 100%;
    width: 100%;
    background-color: #CCFFFF;
}
#mainBarTable
{
  height: 100%;
  width: 100%;
}

tr.BarVertical
{
    width: 100%;
    vertical-align: bottom;
    text-align: center;
}
.BarVertical p
{
    margin: 0px 4px 4px 4px;
    background-color: #FFFF99;
    color: #000000;
    text-align: center;
}
.BarLabel div
{
    text-align: center;
    padding: 0px 4px 0px 4px;
    width: 6.5em;
    font-size: .9em;
}
.barImage{
  width:100%;
}

#barTableGraph{
  padding:0;
  margin: 0 auto;
  table-layout: fixed;
  overflow: visible;
  min-width:200px;
}

#mainImage:hover{
  opacity: .6;
}
