<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel grey lighten-3">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
           <h2>Login <i class="fa fa-rotate-270 fa-key"></i></h2> 
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input ng-model="video.name" class="validate" id="email" type="text">
            <label for="name" data-error="wrong" data-success="right" class="">name</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input ng-model="video.password" id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">         
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div ng-hide="video.isAuthed()" class="row">
          <div class="input-field col s12">
            <a sref="library" ng-click="video.login()" class="blue darken-2 btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        <div ng-show="video.isAuthed()"  class="row">
          <div class="input-field col s12">
            <button sref="login" ng-click="video.logout()" class="blue darken-2 btn waves-effect waves-light col s12">Logout</button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="register.html">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
          </div>         
        </div>
      </form>
    </div>
  </div>

