<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel grey lighten-4">
      <form class="login-form darken-4">
        <div class="row">
          <div class="input-field col s12 center">
           <h2>SignUp__<i class="fa fa-pencil"></i></h2>
          </div>
          <div class="input-field col s6">
            <input ng-model="video.name" id="first_name" type="text" class="validate">

            <label for="first_name"><i class="fa fa-user"></i> First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input ng-model="video.email" class="validate" id="email" type="email">
            <label for="email" data-error="wrong" data-success="right" class="">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input ng-model="video.password" id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a ui-sref="library" ng-click="video.signup()" class="green darken-4 btn waves-effect waves-light col s12">Create Account</a>
          </div>
        </div>
          <div class="input-field col s6 m6 l6">
          </div>
        </div>

      </form>
    </div>
  </div>
