<!-- Page Layout here -->
   <div class="row">

     <div class="col s12 m4 l4 green"> <!-- Note that "m4 l3" was added -->
        <h4>{{ video.currentVideo.title }}</h4>
        <img class="responsive-img" ng-src="{{ video.currentVideo.videoUrl }}" />
     </div>

     <div class="col s12 m8 l8 blue"> <!-- Note that "m8 l9" was added -->
       <h1>{{ video.currentVideo.textData.text }}</h1>
       <ul>
         <li ng-repeat="word in video.currentVideo.allKeyWords">{{ word }}</li>
       </ul>
       <zingchart id=”chart-1” zc-values={{ video.myData }} zc-height=”300” zc-width=”500” zc-type=”bar”></zingchart>
       <!--
       <canvas id="bar" class="chart chart-bar"
         chart-data="data" chart-labels="labels"> chart-series="series"
       </canvas
     -->
     </div>

   </div>
